.container {
  margin-top: 20px;
}

.version {
  font-size: small;
  font-style: italic;
}

.grid-wrapper {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  background-color: aliceblue;
  width: 25%;
}

.grid-line {
  stroke: black;
  stroke-width: 1;
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
  }
}
